body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #333;
    color: aliceblue;
}

h1{
    font-size: 3em;
}

button{
    background-color: #333;
    color: aliceblue;

    border: 2px solid aliceblue;
    border-radius: 20px;

    padding: 10px 25px;

    font-size: 2em;

    cursor: pointer;

    transition: 0.2s;
}

button:hover{
    background-color: aliceblue;
    color: #333;
}
.Spieler{
    font-size: 2em;
    align-items: left;
}
.green{
    color: rgb(95, 255, 47);
}
.red{
    color: rgb(255, 47, 47);
}