button{
width: 4cm;
height: 2cm;

border-color: rgb(83, 161, 115);
border-radius: 0.5cm;
background-color: rgb(45, 78, 63);
color: aliceblue;
font-size: 1.1em;
font-family: Arial, Helvetica, sans-serif;
}

label{
color: aliceblue;
font-size: 1.5em;
font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: #333;
text-align: center;
color: aliceblue;
}

.button-container{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

button:hover{


border-color: rgb(96, 185, 133);
border-radius: 0.5cm;
background-color: rgb(95, 167, 134);
color: aliceblue;

font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 0.5cm;
    height: 0.5cm;
}

#input{
    width: 4cm;
    height: 1cm;
    font-size: 2sem;
    border-radius: 2px;
}

div{
    font-size: 1.5em;
}

h1{
    font-size: 2em;
}