button{
width: 3cm;
height: 1cm;
 
border-color: rgb(83, 161, 115);
border-radius: 0.5cm;
background-color: rgb(45, 78, 63);
color: aliceblue;

font-family: Arial, Helvetica, sans-serif;
}
label{
color: aliceblue;
font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
}
body{
background-color: #333;
    text-align: center;
    align-items: center;
    color: aliceblue;
}
button:hover{

border-color: rgb(81, 155, 112);
border-radius: 0.5cm;
background-color: rgb(55, 94, 76);
color: aliceblue;

font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 0.5cm;
    height: 0.5cm;
}
#input{
    width: 3cm;
    height: 1cm;
    font-size: 3em
}
div{
    font-size: 1.5em;
}
h1{
    font-size: 3em;
}