#Taschenrechner{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    height: 306px;
    width: 216px;
    padding: 6px;
    border-radius: 9px;
    margin-left: 60px;
    margin-top: 60px;

}

#anzeige{
    width: 198px;
    height: 30px;
    margin: 6px;
    border: none;
    border-radius: 6px;

    text-align: left;
    background-color: hsl(0, 0%, 25%);
    color: white;
    
}

#knopf{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.8px;
    padding: 3px;
}

button{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: rgb(71, 77, 82);
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.5em;
}

button:hover{
    background-color: rgb(95, 103, 110);
}

button:active{
    background-color: rgb(120, 130, 140);
}

.margin{
    margin-left: 0;
    background-color: orange;
}
.margin:hover{
    background-color: rgb(253, 194, 83);
}
.margin:active{
    background-color: rgb(255, 223, 162);
}
body{
    background-color: #333;
}
